<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Michal Kraciuk</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Data Table-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

</head>
<body>

<br>
<br>
<div class="row">
    <div class="col-lg-3">
        <div class="col-sm-12">
            <form method="POST" action="/" enctype="multipart/form-data">
                <form:label path="file">Select a file to upload</form:label>
                <input type="file" name="file" class="btn btn-primary btn-md"/>
                <button name="action" type="success"
                        class="btn btn-primary btn-md">
                    <i class="fas fa-check-circle"></i>Submit
                </button>
            </form>
        </div>
        <br>
        <div class="col-sm-12">
            <form action="/removeList" method="POST">
                <p>Select file to remove users from database</p>
                <select class="selectpicker" id="fileNameList" name="fileNameList" data-live-search="true">
                    <option th:each="list: ${fileNameList}" th:value="${list}"
                            th:text="${list}"></option>
                </select>
                <br>
                <br>
                <button name="action" value="removeList" type="danger"
                        class="btn btn-primary btn-md">
                    <i class="fas fa-check-circle"></i>Remove list
                </button>
            </form>
        </div>
    </div>

    <div class="col-lg-8">
        <div class="table-responsive table--no-card m-b-20">
            <table class="table table-condensed-14 table-bordered table-striped table-sm"
                   id="mainTable">
                <thead class="thead-dark">
                <tr>
                    <th style="display:none"></th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Age</th>
                    <th>Phone</th>
                    <th>fileName</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user: ${users}" class="uncheckedRow"
                    onclick="changeRowColorOnTable(this)">
                    <td style="display:none" th:text="${user.id}">
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.surName}"></td>
                    <td th:text="${user.age}"></td>
                    <td th:text="${user.phoneNumber}"></td>
                    <td th:text="${user.fileName}"></td>
                    <td align="center" style="width:2%">
                        <form th:action="@{/remove?id=} + ${{user.id}}" method="post">
                            <div>
                                <button th:name="remove" class="item"
                                        data-toggle="tooltip" data-placement="top" title="Remove">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="assets/plugins/DataTables-1.10.18/dataTables.bootstrap4.min.js"></script>
<script th:inline="javascript">

$(document).ready( function () {
    $('#mainTable').DataTable({
        "info":     false
    });
} );


</script>
</body>
</html>